@import 'nib'

body
  font 15px/22px sans-serif
  height 100%

section
  min-height 80vh

div
  margin 0 0 1rem

div div
  margin 0

#controls
  background-color #ecc

#transcript-pane
  background-color #cec

#entity-pane
  background-color #cce
